# Local install Ollama model. This model will be used to execute all llm functions
MODEL=llama3.1:8b-instruct-q8_0
# Location of your microwave oven instruction manaul
PDF_FILE=data/manual.pdf
# Location of your QA database (sqlite3) for the microwave oven instruction manaul. This is a sqlite file that contains all the questions and answers from the PDF file. The format is as follows:
# You should manualy check the content is valid or not
QA_DB=data/qa_pairs-llama3.db
# Cromadb collection name for storing QA pairs from PDF file. This will be used to store all questions and answers from the PDF file. The format is as follows:
COLLECTION=qa_pairs-llama3

# top k results for search results from chromadb
TOP_K=20
# distance threshold for similarity search in chromadb. The lower the value, the more similar the results will be. The higher the value, the less similar the results will be. You should manualy check the content is valid or not
MAX_DISTANCE=1.7